.listingNodesOpt3 li {
	margin:0;
	padding:20px 0;
}
.listingNodesOpt3 li.borderBottomNone {
	border-bottom:none;
}
.tabsNavContainer li {
	float:right;
	border-bottom:none !important;
	margin-left:5px;
	float:right;
	padding:0;
}
.tabsNavContainer li a {
	display:block;
	font-size:1.7em;
	padding:8px 15px 8px 15px;
	text-decoration:none;
	margin:0;
}
li.lastTabMargin {
	margin-left:0;
}
.subtab{
	padding:0 9px;
}
.contentTabs{
	float:right;
	width:100%;
}