.anythingSlider {
	width: 260px;
	height: 200px;
	position: relative;
	direction:ltr !important;
}
.anythingSlider .wrapper {
	width: 260px;
	overflow: auto;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}
/* Width below is max for Opera */
.anythingSlider .wrapper ul {
	width: 32700px;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}
.anythingSlider ul li {
	display: block;
	float: left;
	padding: 0;
	height: 200px;
	width: 260px;
	margin: 0;
	direction:rtl;
}
.anythingSlider .arrow {
	display: block;
	height: 17px;
	width: 18px;
	text-indent: -9999px;
	position: absolute;
	top: 180px;
	cursor: pointer;
}
.anythingSlider .forward {
	background:url(../../Themes/green/images/next-slider.gif) no-repeat;
	right:0px;
}
.anythingSlider .back {
	background:url(../../Themes/green/images/prev-slider.gif) no-repeat;
	right:46px;
}
#thumbNav {
	display:none;
}
#start-stop {
	color:#40474D;
	width: 18px;
	position: absolute;
	height:17px;
	font-size:1px;
	right: 23px;
	top: 180px;
}