*{
	outline:none;
}
body,form,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,p{
	margin:0px;
	padding:0px;
}
p{
	/*margin-bottom:15px;*/
	font-size:1.1em;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	line-height:normal;
}
body{
	font-size:76%;
	font-family:Tahoma, Geneva, sans-serif;
	direction:rtl;
	line-height:17px;
	padding-bottom:20px;
}
td{
	vertical-align:top;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:17px;
}
img{
	border:0px;
}
ul,li,ol,dl,dt,dd{
	list-style:none;
	list-style-image:none;
	list-style-type:none;
}
html{
	overflow-y:scroll;
	direction:ltr;
	line-height:18px;
}
input,select,textarea{
	color:#231F20;
	font-family:Tahoma;
	font-size:11px;
}
h1{
	font-size:1.69em;
	padding-bottom:5px;
}
h2{
	font-size:1.65em;
	margin-bottom:15px;
}
h3{
	font-size:1.4em;
}
h4{
	font-size:1.11em;
}
.absolutePos{
	position:absolute;
}
.relativePos{
	position:relative;
}
.clearBoth{
	clear:both;
}
a.moreLink,.languageLinks a:hover,.languageLinks a.selected,.membersLinks a:hover,.copyrightContainer a,.contentContainer a,.backToTop a,.downloadContainer a{
	text-decoration:underline;
}
a.moreLink:hover,a.moreLink:visited,.downloadContainer a:hover,.listingOneItemCont h4 a,.backToTop a:hover,.contentContainer a:hover,.listingOneItemContOpt2 h4 a,a.moreBtnBlock,.bulletListingOpt2 li a,.bulletListingOpt3 li a,.footerLinksCont a,a.footerSecondLevel,.languageLinks a,.membersLinks a,.searchBtn,.pagingNewsHolder li a,.menuBtnsList li a,.newsTickerListPad a,.newsTickerListPad a:hover,.copyrightContainer a:hover,.bulletListing li a, h2 a,h3 a{
	text-decoration:none;
}
.margbottom5,h3,h4{
	margin-bottom:5px;
}
.listImageContainerPad{
	padding-left:20px;
}
.listImageContainer {
	float:right;
	margin-left:15px;
}
.listingThumb{
	height:111px;
}
.titlesContainer h2,.margbottom10{
	margin-bottom:10px;
}
.moreContainer{
	float:left;
	padding-top:5px;
}
.listingDate{
	font-size:0.9em;
	margin-bottom:5px;
}
.title1Container{
	padding-bottom:4px;
}
.title1Container h1{
	font-size:1.5em;
}
.title1Container,.title2Container{
	margin-bottom:15px;
}
.title3Container h4{
	font-weight:bold;
	margin-bottom:4px
}
.contentContainer ul{
	padding:10px 10px 0 0;
}
.contentContainer ul li{
	padding:0 15px 3px 0;
}
.paginationContainer{
	text-align:left;
	margin-top:15px;
	direction:ltr;
}
.paginationContainer a{
	display:inline-block;
	padding:1px 7px;
	text-decoration:none;
	margin:0 7px 0 0;
}
.downloadContainer{
	margin-top:25px;
}
.pdfInformationDownload a{
	display:inline-block;
	background:url(../images/pdf-ico.gif) no-repeat right 0;
	padding:3px 30px 7px 0;
	font-size:1.15em;
}
.pdfContainerRow{
	padding-bottom:10px;
	margin-bottom:10px;
}
.downloadMessage{
	background:url(../images/pdf-ico.gif) no-repeat right top;
	padding:3px 30px 7px 0;
	font-size:1em !important;
	border-right:0px !important;
}
.downloadFlashPlayer{
	font-size:1em !important;
	padding:3px 30px 7px 0;
	margin-top:20px;
	background:url(../images/flash-ico.gif) no-repeat right 3px;
}
.pdfInformationDownloadList li{
	border-bottom:0px !important;
	font-size:1.1em;
	padding:0px;
}
.pdfInformationDownloadList li a{
	background:url(../images/pdf-smallico.gif) no-repeat right 4px;
	padding:0 18px 3px 0;
	display:inline-block;
}
.mandatoryFields{
	margin-bottom:15px;
	font-size:1em;
}
.errorMessage{
	font-size:1.2em;
	margin-bottom:15px;
}
.absoluteVideoIco{
	position:absolute;
	left:58px;
	top:44px;
}
.absoluteVideoInfos{
	position:absolute;
	right:0px;
	bottom:0px;
	padding:1px 7px;
	font-size:0.9em;
}
.fieldButton{
	border:0px;
	cursor:pointer;
	text-align:center;
	width:125px;
	padding:7px 0;
}
.filterListField{
	width:150px;
	margin:0 5px 0 15px;
}
.searchFilterContainer{
	background:#F2F0F0;
	padding:7px;
}
/* Option 1 */
#tableOption1 td,#tableOption2 td,#tableOption3 td,#tableOption1 th,#tableOption2 th,#tableOption3 th{
	font-size:1.1em;
	padding:7px;
}
/* Option 2 */
#tableOption2 td.highlightTableSection{
	border-right:0px;
}
.floatRightPicture,.floatrightpicture{
	float:right;
	margin:0 0 10px 10px;
}
.floatLeftPicture,.floatleftpicture{
	float:left;
	margin:0 10px 10px 0px;
}
.otherSitestList{
	width:155px;
}
.otherSitestText{
	padding-left:10px;
}
.membersAreaContainer{
	padding:10px 0;
}
.welcomeUser,.welcomeUser a:hover{
	font-size:15px;
}
.welcomeUser a{
	font-weight:bold;
	text-decoration:none;
}
.welcomeUserLinks a{
	margin:0 20px 0 0;
	float:left;
	display:inline-block;
	padding:0 12px 0 0px;
	text-decoration:none;
}
.floatLeft{
	float:right;
}