body{
	margin:20px 0;
	padding:0px;
	background:#1B5B80;
}
td{
	vertical-align:top;
	font-family:Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size:16px;
    margin-bottom:0px;
    color:#666;
}
h2 {
    font-size:24px;
}
.backlink {
    float:right;
    font-family: Arial, "MS Trebuchet", sans-serif;
	color:#ccc;
	font-size:12px;
	margin-top:5px;
}

.index-title {
    background:#6d6f71;
    color:#fff;
    padding:10px 20px;
    font-size:20px;
}
img{
	border:0px;
}
.landingContainer{
	border:1px solid #164C6A;
	background:#FFF;
}
.sectionContainerPad{
	width:440px;
}
.sectionContainerPad,.sectionContainerPad2{
	padding:20px 0;
}
.mainSectionTitle{
	color:#1C5C80;
	font-size:18px;
	font-weight:bold;
	border-bottom:5px solid #1C5C80;
	padding-bottom:5px;
	margin-bottom:20px;
}
.mainSectionTitle  a {
    color:inherit;
    text-decoration:none;
}
.mainSectionTitle  a span {
    text-decoration:underline;
}
.mainSectionTitle a:hover span {
    color:#B9CB49;
}
.listingLinks a{
	display:block;
	background:#E6E6E6;
	color:#231F20;
	font-size:12px;
	padding:7px;
	margin-bottom:10px;
	text-decoration:none;
	font-family:Arial;
}
.listingLinks a:hover{
	color:#B82324;
}