.headerCont,.menuBtnsCont,.newsTickerCont,.topHeaderCenter{
	width:962px;
	margin:0 auto;
}
.centerCont{
	margin:0 auto;
	width:962px;
}
.centerContBackground,.centerContBackgroundNopad{
	padding:5px 10px 0 10px;
}
.centerContBackgroundNopad{
	padding:0px;
}
.Col2Sect,.Col2SectLast{
	width:140px;
}
.Col4Sect,.Col4SectLast{
	width:300px;
}
.Col8Sect,.Col8SectLast{
	width:620px;
}
.Col12Sect,.Col12SectLast{
	width:940px;
}
.Col3Sect,.Col3SectLast{
	width:220px;
}
.Col9Sect,.Col9SectLast{
	width:700px;
}
.Col6Sect,.Col6SectLast{
	width:460px;
}
.Col2Sect,.Col4Sect,.Col8Sect,.Col3Sect,.Col9Sect,.Col6Sect{
	margin:0 0 20px 20px;
	float:right;
}
.Col2SectLast,.Col4SectLast,.Col8SectLast,.Col12Sect,.Col3SectLast,.Col9SectLast,.Col6SectLast{
	margin:0 0 20px 0;
	float:right;
}
.tickerSpecialSpace{
	margin-bottom:10px !important;
}
.footerSpecialSpace{
	margin:0 !important
}
.colSecLast{
	margin-right:0 !important;
}
.containersSpace{
	margin-bottom:20px;
}
.containersNoSpace{
	margin-bottom:0px !important;
}