.listingOneItemContOpt2{
	padding:7px;
}
.listingOneItemContOpt2 h4,.listingOneItemContOpt2 h4 a{
	font-weight:bold;
}
.listingOneItemContOpt2 a.moreBtnBlock{
	text-align:center;
	display:block;
	padding:4px 0;
}