.relatedLInksContainer a{
	display:inline-block;
	padding-left:15px;
	margin:15px 0 0 30px;
	text-decoration:underline;
}
.relatedLInksContainer a:hover{
	text-decoration:none;
}
.margtop15{
	margin-top:15px;
}