.horizontalListingCont{
	margin-top:10px;
}
.horizontalListingCont ul li{
	float:right;
	width:149px;
	margin:0
}
.horizontalListingCont ul li.last{
	margin:0px;
}
.horizontalListCont{
	padding:4px;
	background:#F2F0F0;
}

/*************************** To Animate ****************************************************/
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 620px;
	direction:ltr;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 620px;
}
.jcarousel-skin-tango .jcarousel-item {
	width: 140px;
	direction:rtl;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin:0 20px 0 0 !important;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	position: absolute;
	top: 47px;
	right: 0;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background:url(../../../../../Common/images/next.gif) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top:47px;
	left: 0;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background:url(../../../../../Common/images/prev.gif) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	background:none;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background:none;
}