.breadContainer{
	padding:5px 15px 5px 15px;
	font-size:1em;
}
.breadContainer a{
	text-decoration:underline;
}
.breadContainer a:hover,.breadContainer a.selected{
	text-decoration:none;
}
a.homeIcon{
	font-size:0.01em;
	display:inline-block;
	width:11px;
	height:11px;
}