.shareThisContainer{
	float:left;
	padding:8px 0 0 0;
}
.mainTitleFloat{
	float:right;
}
.subpageHead{
	padding-bottom:4px;
}
.textToolsContainer{
	font-size:1.1em;
}
.textToolsContainer a{
	text-decoration:none;
	display:inline-block;
	margin:0 5px 0 0;
}