/******************************* Main layout **********************************/
body{
	background:#FFFFFF;
}
td,body{
	color:#231F20;
}
.centerContBackground,.centerContBackgroundNopad{
	background:#FFF;
}
h2,h3,h2 a,h3 a,h1{
	color:#a20800;
}
h2 a:hover, h3 a:hover{
	color:#02364e;
}
/******************************* End Main layout **********************************/

/******************************* Header **********************************/
.languageLinks a,.membersLinks a,.membersLinks,.languageLinks,.todayDate{
	color:#FFF;
}
.toplinksCont{
	background:#969696;
}
.languageLinks a:hover,.languageLinks a.selected,.membersLinks a:hover{
	color:#FFF;
}
.searchBtn{
	background:url(images/search-btn.gif) no-repeat;
	color:#757576;
}
.logosHeader,.logosHeaderOpt2{
	background:#FFF url(../../images/flag-pic.jpg) no-repeat left top;
}
.logosHeaderOpt3{
	background:#FFF url(images/flag-back.jpg) no-repeat right top;
}
.menuContainerOption2 .languageLinks a,.menuContainerOption2 .languageLinks{
	color:#FFF;
}
.menuContainerOption2 .languageLinks a:hover,.menuContainerOption2 .languageLinks a.selected{
	color:#FFF;
}
/******************************* End Header **********************************/

/******************************* Menu **********************************/
.menuCont{
	/*background:url(images/menu-bg.gif) repeat-x;*/
	height:48px;
}
.menuBtnsList li a:hover,a.highlightMenuBtn{
	color:#FFF !important;
}
.menuBtnsList li,.menuBtnsList li a,.menuBtnsList li a.selected:hover{
	color:#FFF;
}
.menuBtnsList li a{
	border-right:1px solid #AEAEAE;
}
.menuBtnsList li a:hover,.menuBtnsList li a.selected:hover,a.highlightMenuBtn{
	background:#a20800;
}
.menuBtnsList li a.selected{
	color:#fff;
	background:#a20800;
}
.absoluteSubMenu{
	background:#a20800;
}
.subMenuContainer{
	color:#FFF;
}
.subMenuContainer a{
	color:#FFF !important;
	background:url(images/submenu-arrow.gif) no-repeat right 5px;
}
.subMenuContainer a:hover{
	background:url(images/submenu-arrow.gif) no-repeat right 5px    !important;
}
a.mainTitle{
	border-bottom:1px dashed #FFF;
	background:url(images/submenu-arrow.gif) no-repeat right 15px;
}
a.mainTitle:hover{
	background:url(images/submenu-arrow.gif) no-repeat right 15px    !important;
}
.menuBtnsCont{
	background:url(images/menu-bg-inside.gif);
	height:48px;
}
.menuBtnsList li a.firstMenuBtn{
	border-right:1px solid #969696;
}
/******************************* End Menu **********************************/

/******************************* News Ticker **********************************/
.newsTickerListPad a{
	color:#231F20;
	background:url(images/marquee-ico.gif) no-repeat right 3px;
}
.newsTickerListPad a:hover{
	color:#B32821;
}
/******************************* End News Ticker **********************************/

/******************************* Main News **********************************/
.newsContainer, .summaryWideBanner{
	background:#f2f0f0;
}
.pagingNewsHolder li a{
	color:#fff;
	background:#3f3f3f;
}
.pagingNewsHolder li a:hover, .pagingNewsHolder li a.active, .pagingNewsHolder li a.active:hover{
	background:#a20800;
}
a.moreLink {
	color:#02364e;
}
a.moreLink:hover, a.moreLink:visited {
	color:#a20800;
}
.largeImageContainer img, .largeImageContainerWide img{
	border:3px solid #e6e6e6;
}
a.wideMoreBtn{
	color:#fff;
	background:#a20800;
}
.windowReel li{
	background:#F2F0F0;
}
/******************************* End Main News **********************************/

/******************************* Footer ****************************************/
.footerContainer{
	background:#F2F0F0 url(images/footer-back.gif) no-repeat left bottom;
}
.footerLinksCont a,a.footerSecondLevel:hover,.footerContainer{
	color:#000000;
}
a.footerFirstLevel{
	background:url(images/footer-arrow.gif) no-repeat right 6px;
}
a.footerFirstLevel:hover,a.footerSecondLevel{
	color:#7C7C7C;
}
/******************************* End Footer ****************************************/

/******************************* Copyright ****************************************/
.copyrightContainer{
	background:#3F3F3F;
}
.copyrightContainer a,.copyrightContainer,.copyrightContainer a:hover{
	color:#FFF;
}
/******************************* Copyright ****************************************/

/******************************* Bullet Listing ****************************************/
.bulletListing li{
	background:#FFFFFF url(images/listing-arrow.gif) no-repeat right 12px;
	border-bottom:1px dashed #8B8888;
}
.bulletListing li.secondRow{
	background:#F2F0F0 url(images/listing-arrow.gif) no-repeat right 12px;
}
.bulletListing li a{
	color:#02364e;
}
.bulletListing li a:hover{
	color:#969696;
} 
/******************************* End Bullet Listing ****************************************/

/******************************* Bullet Listing Opt 2 ****************************************/
.titlesContainerOpt2,.bulletListingOpt2 li{
	background:#a20800;
}
.titlesContainerOpt2 h2,.bulletListingOpt2 li a{
	color:#FFF;
}
.bulletListingOpt2 li{
	border-bottom:1px dashed #818C8D;
}
.bulletListingOpt2 li a{
	background:url(images/square-bullet.gif) no-repeat right 6px;
}
.bulletListingOpt2 li a:hover{
	color:#000;
}
/******************************* End Bullet Listing Opt 2 ****************************************/

/******************************* Bullet Listing Opt 3 ****************************************/
.titlesContainerOpt3{
	background:#a20800;
	border-bottom:5px solid #FFF;
}
.bulletListingOpt3 li{
	background:#da9d9a;
}
.titlesContainerOpt3 h2,.bulletListingOpt3 li a:hover{
	color:#FFF;
}
.bulletListingOpt3 li a{
	color:#231F20;
}
.bulletListingOpt3 li{
	border-bottom:1px dashed #878786;
}
.bulletListingOpt3 li a{
	background:url(images/square-bullet-opt2.gif) no-repeat right 6px;
}
.dateChangeColor{
	color:#d2161c;
}
/******************************* End Bullet Listing Opt 3 ****************************************/

/******************************** Listing Component ***********************************************************/

.listingNodes,.listingNodesOpt2,.listingNodesOpt3{
	border-bottom:1px solid #918f8f;
}
.listingNodes li,.listingNodesOpt2 li,.listingNodesOpt3 li{
	border-bottom:1px dashed #918f8f;
}
.listingDate{
	color:#7c7c7c;
}
.titlesContainer{
	border-bottom:5px solid #a20800;
}
.titlesContainerOpt2{
	border-bottom:5px solid #FFF;
}
/*********************************** End Listing Component ********************************************************/

/*********************************** Listing One Item ********************************************************/
.listingOneItemCont{
	background:#a20800;
	color:#FFF;
}
.listingOneItemCont h4,.listingOneItemCont h4 a{
	color:#FFF;
}
.listingOneItemCont h4 a:hover{
	color:#969696;
}
.listingOneItemCont a.moreBtnBlock{
	color:#FFF;
	background:#969696;
}
/*********************************** End Listing One Item ********************************************************/

/*********************************** Listing One Item Opt 2 ********************************************************/
.listingOneItemContOpt2{
	background:#969696;
	color:#FFF;
}
.listingOneItemContOpt2 h4,.listingOneItemContOpt2 h4 a{
	color:#FFF;
}
.listingOneItemContOpt2 h4 a:hover{
	color:#969696;
}
.listingOneItemContOpt2 a.moreBtnBlock{
	color:#FFF;
	background:#357F8E;
}
/*********************************** End Listing One Item Opt 2 ********************************************************/

/*********************************** Listing One Item Big  ********************************************************/
.listingOneItemContBig{
	background:#F2F0F0;
}
/*********************************** End Listing One Item Big ********************************************************/

/*********************************** Listing One Item Big Opt 2  ********************************************************/
.listingOneItemContBigOpt2{
	background:#c8c8c8;
}
/*********************************** End Listing One Item Big Opt 2 ********************************************************/

/*********************************** Listing Component Opt 3 ********************************************************/
.tabsNavContainer li{
	background:#C69;
}
.tabsNavContainer li a{
	background:#a20800;
	color:#fff;
}
.tabsNavContainer li a:hover{
	background:#f2f0f0;
	color:#a20800;
}
.tabsNavContainer li a.on:hover, .tabsNavContainer li a.on{
	background:#f2f0f0;
	color:#a20800;
}
.contentTabs{
	background:#f2f0f0;
}
/*********************************** End Listing Component Opt 3 ********************************************************/

/*********************************** Copyright Bar ********************************************************/
.copyrightContainer{
	color:#FFF;
	background:#3F3F3F;
}
.copyrightContainer a{
	color:#FFF;
}
.copyrightContainer a:hover{
	color:#FFF;
}
/*********************************** End Copyright Bar ********************************************************/

/*********************************** Details Page ********************************************************/
.downloadFlashPlayer{
	border-top:1px dashed #A2A2A1;
}
.title1Container,.contentDetailsContainer{
	border-bottom:1px dashed #A2A2A1;
}
.contentContainer ul li{
	background:url(images/content-bullet.gif) no-repeat right 8px;
}
.contentContainer a:hover,.backToTop a:hover,.title2Container h3,.title3Container h4{
	color:#000;
}
.latestUpdatedtText{
	color:#7C7C7C;
}
.backToTop,.backToTop a,.contentContainer a{
	color:#02364e;
}
/*********************************** End Details Page ********************************************************/

/*********************************** Listing Page ********************************************************/
.listingImageBorder{
	border:2px solid #E6E6E6;
}
/*********************************** End Listing Page ********************************************************/

/*********************************** Pagination ********************************************************/
.paginationContainer a{
	border:1px solid #918F8F;
	color:#231F20;
}
.paginationContainer a:hover,.paginationContainer a.selected{
	background:#969696;
	color:#FFF;
	border:1px solid #969696;
}
/*********************************** End Pagination ********************************************************/

/*********************************** Listing Opt 2 Page ********************************************************/
.listingMoreinfos{
	color:#969696;
}
/*********************************** End Listing Opt 2 Page ********************************************************/

/*********************************** Details Opt 2 Page ********************************************************/
.pdfInformationDownload a,.downloadMessage a,.pdfInformationDownloadList li a,.downloadFlashPlayer a{
	color:#02364e;
}
.pdfInformationDownload a:hover,.downloadMessage a:hover,.pdfInformationDownloadList li a:hover,.downloadFlashPlayer a:hover{
	color:#000;
}
.pdfContainerRow{
	border-bottom:1px dashed #A2A2A1;
}
.downloadMessage,.downloadFlashPlayer{
	color:#7C7C7C;
}
/*********************************** End Details Opt 2 Page ********************************************************/

/*********************************** Form Page ********************************************************/
.mandatoryFields,.highlightMandatory{
	color:#446174;
}
.errorMessage{
	color:#F00;
}
.textField,.filterListField,.textFile{
	border:1px solid #E7E6E6;
}
.fieldButton{
	background:#a20800;
	color:#FFF;
}
.formStepsBack a{
	color:#FFF;
}
.formStepsBack a:hover{
	color:#000;
}
.step1Container{
	background:url(images/step1.gif) no-repeat;
}
.step1ContainerSelected{
	background:url(images/step1-on.gif) no-repeat;
}
.step2Container{
	background:url(images/step2.gif) no-repeat;
}
.step2ContainerSelected{
	background:url(images/step2-on.gif) no-repeat;
}
.step3Container{
	background:url(images/step3.gif) no-repeat;
}
.step3ContainerSelected{
	background:url(images/step3-on.gif) no-repeat;
}
.step4Container{
	background:url(images/step4.gif) no-repeat;
}
.step4ContainerSelected{
	background:url(images/step4-on.gif) no-repeat;
}
.step5Container{
	background:url(images/step5.gif) no-repeat;
}
.step5ContainerSelected{
	background:url(images/step5-on.gif) no-repeat;
}
/*********************************** End Form Page ********************************************************/

/*********************************** Listing Opt 3 Page ********************************************************/
.expandListingTitle{
	color:#969696;
	background:url(images/expand-ico.gif) no-repeat right 4px;
	border-bottom:2px solid #AEAEAE;
}
.active{
	background:url(images/minimize-ico.gif) no-repeat right 4px;
}
/*********************************** End Listing Opt 3 Page ********************************************************/

/*********************************** Right Menu ********************************************************/
.rightMenuLevel1 a{
	background:#969696 url(images/menuarrow-level1.gif) no-repeat 96% 9px;
	color:#FFF;
	border-bottom:1px solid #FFF;
}
.rightMenuLevel1 a:hover,.rightMenuLevel1 a.selected{
	background:#a20800 url(images/menuarrow-level1-on.gif) no-repeat 96% 9px;
	color:#fff;
}
.rightMenuLevel1 a.selected{
	background:#a20800 url(images/menuarrow-level1-on.gif) no-repeat 96% 9px;
}
.rightMenuLevel1 a.selected2{
	background:#a20800 url(images/menuarrow-level1-open.gif) no-repeat 96% 9px;
}
.rightMenuLevel2 a{
	background:url(images/menuarrow-level2.gif) no-repeat 96% 9px;
	color:#000000;
	border-bottom:1px dashed #A2A2A1;
}
.rightMenuLevel2 a:hover{
	color:#fff;
	text-decoration:none;
	background:#a20800 url(images/menuarrow-level2.gif) no-repeat 96% 9px;
}
.rightMenuLevel2 a.selected{
	background:url(images/menuarrow-level2-open.gif) no-repeat 96% 9px;
	text-decoration:underline;
	color:#969696;
}
.rightMenuLevel2 a.last{
	border-bottom:0px;
}
.rightMenuLevel3 a{
	color:#000;
}
.rightMenuLevel3 a:hover,.rightMenuLevel3 a.selected{
	color:#969696;
	text-decoration:underline;
}
.rightMenuLevel3 a.selected{
	color:#fff;
	background:#a20800;
}
/*********************************** End Right Menu ********************************************************/

/*********************************** Bread Crumb ********************************************************/
.breadContainer{
	background:#F2F0F0;
	color:#000;
}
.breadContainer a{
	color:#000;
}
.breadContainer a:hover,.breadContainer a.selected{
	color:#ab3801;
}
a.homeIcon{
	background:url(images/home-ico.gif) no-repeat left top;
}
/*********************************** End Bread Crumb ********************************************************/

/*********************************** Subpage Head ********************************************************/
.subpageHead{
	border-bottom:5px solid #a20800;
}
/*********************************** End Subpage Head ********************************************************/

/*********************************** Search Page ********************************************************/
.searchListing li{
	border-bottom:1px dashed #A2A2A1;
}
/*********************************** End Search Page ********************************************************/

/*********************************** Sitemap Page ********************************************************/
.sitemapListingContainer{
	color:#347E8D;
}
.sitemapListingContainer a{
	color:#347E8D;
}
.sitemapLevel1 a,.sitemapLevel2 a,.sitemapLevel3 a,.sitemapLevel4 a{
	text-decoration:none;
}
.sitemapLevel1 a:hover,.sitemapLevel2 a:hover,.sitemapLevel3 a:hover,.sitemapLevel4 a:hover{
	text-decoration:underline;
}
.sitemapLevel1 a{
	background:url(images/sitemap-arrow.gif) no-repeat right 4px;
	color:#969696;
}
.sitemapLevel2 a{
	color:#231F20;
}
.sitemapLevel3 a{
	color:#231F20;
	background:url(images/sitemap-bullet.gif) no-repeat right 7px;
}
.sitemapLevel4 a{
	color:#7C7C7C;
	background:none;
}
/*********************************** End Sitemap Page ********************************************************/

/*********************************** Page Head ********************************************************/
.textToolsContainer,.textToolsContainer a{
	color:#878787;
}
.textToolsContainer a:hover{
	color:#347E8D;
}
/*********************************** End Page Head ********************************************************/

/*********************************** Tables Page ********************************************************/
/* Option 1 */
#tableOption1{
	border-top:1px solid #7F7D7E;
	border-right:1px solid #7F7D7E;
}
#tableOption1 td,#tableOption1 th{
	color:#231F20;
	border-bottom:1px solid #7F7D7E;
	border-right:1px solid #7F7D7E;
}
#tableOption1 tr.header th{
	color:#fff;
	background:#a20800;
}
#tableOption1 td.highlightTableSection{
	background:#a20800 !important;
	color:#fff;
}
#tableOption1 tr.secondRow td{
	background:#F2F0F0;
}
/* Option 2 */
#tableOption2 td{
	color:#231F20;
	border-bottom:1px solid #7F7D7E;
	border-right:1px solid #7F7D7E;
}
#tableOption2 tr.header th{
	color:#fff;
	background:#a20800;
}
#tableOption2 tr.secondRow td{
	background:#F2F0F0;
}
/* Option 3 */
#tableOption3{
	border-top:1px solid #7F7D7E;
	border-right:1px solid #7F7D7E;
}
#tableOption3 td{
	color:#231F20;
	border-bottom:1px solid #7F7D7E;
	border-right:1px solid #7F7D7E;
}
#tableOption3 tr.header th{
	color:#a20800;
	background:#B5CDA4;
}
#tableOption3 td.highlightTableSection{
	background:#a20800 !important;
	color:#fff;
}
#tableOption3 tr.secondRow td{
	background:#F2F0F0;
}
/*********************************** End Tables Page ********************************************************/
.headerAddBackground{
	background:#F2F0F0;
	FILTER: alpha(opacity=80);
	moz-opacity: .80;
	opacity: .80;
	khtml-opacity: .80;
	padding:5px 10px !important;
}
.absoluteVideoInfos{
	background:#000;
	color:#FFF;
}
.absoluteVideoInfos{
	background:#000;
	color:#FFF;
}
/********************************** Related Links ************************************************************/
.relatedLInksContainer a{
	background:url(images/link-bullet.gif) no-repeat left 6px;
	color:#448CB6;
}
.newsSliderComponent{
	background:#F2F0F0;
}
#start-stop.playing {
	background:url(../../Themes/green/images/pause-button.gif) no-repeat;
}
#start-stop {
	background:url(../../Themes/green/images/play-button.gif) no-repeat;
}
/********************************** Top Header ************************************************************/
.topHeaderContainer{
	background:#000;
	height:35px;
}
.otherSitestText{
	color:#FFF;
}
/********************************** Sitemap Tree View ************************************************************/
.siteMapTreeView a{
	color:#969696;
}
/********************************** Members Container *************************************************************/
.viewTestLink a{
	background:url(images/listing-arrow.gif) no-repeat right 3px;
}
.membersAreaContainer{
	border-top:1px solid #B8B8B8;
	border-bottom:1px solid #B8B8B8;
}
.welcomeUser,.welcomeUser a:hover{
	color:#ad3900;
}
.welcomeUser a{
	color:#a20800;
}
.welcomeUserLinks a{
	background: url(images/listing-arrow.gif) no-repeat right 4px;
	color:#a20800;
}
.welcomeUserLinks a:hover{
	color:#ad3900;
}