.rightMenuLevel1 a{
	display:block;
	padding:5px 22px 7px 10px;
	font-size:1.2em;
	text-decoration:none;
}
.rightMenuLevel2 a{
	font-size:1.1em;
	padding:4px 22px 5px 10px;
	display:block;
	text-decoration:none;
}
.rightMenuLevel3 a{
	font-size:1em;
	padding:2px 30px 2px 10px;
	display:block;
	text-decoration:none;
}
.absoluteSideMenu,.absoluteSideSubMenu{
	position:absolute;
	right:220px;
	top:-30px;
	border-right:1px solid #FFF;
	width:220px;
	visibility:hidden;
}
.absoluteSideSubMenu{
	border-right:0px;
	top:-27px;
}