.setWidthForNavigation{
	width:100%;
}
.newsContainer {
	margin-bottom:15px;
}
.summaryNewsContainer {
	padding:20px 20px 0 20px;
	background:#;
}
.summaryNewsContainer p {
	margin-bottom:15px;
	font-size:1.1em;
}
.clearBoth {
	clear:both;
}
.pagingNewsHolder li {
	float:left;
	margin:0 2px 0 0;
}
.pagingNewsHolder li a {
	display:block;
	font-weight:bold;
	font-size:1em;
	padding:0 5px;
}
.pagingPos {
	left:20px;
	top:-30px;
	z-index:10000;
}
p.mainListingTextSpace{
	padding:0 0 7px 80px;
}
.minimizeTitleSpace{
	margin-bottom:7px !important;
}
/******************* SLider Wide Image ***********************************/
.largeImageContainerWide {
	float:right;
}
.listImageContainer img {
	border:3px solid #e6e6e6;
}
.wideBanerContainer {
	margin-bottom:15px;
}
.smallBannerContainer {
	float:right;
	margin:0 0 0 3px;
}
.largeBannerContainer {
	float:right;
	margin:0 0 0 3px;
}
.summaryWideBanner {
}
.summaryWideContent {
	padding:15px 10px;
	float:right;
}
a.wideMoreBtn {
	display:block;
	text-decoration:none;
	padding:2px 0px 4px 0;
	text-align:center;
}
tr.wideMoreBtn td table tr td a{
	display:block;
	text-decoration:none;
	padding:2px 0px 4px 0;
	text-align:center;
}
.marginLeft3{
	margin-left:3px;
}
.listingOneItemContBig{
	padding:10px;
}
/******************* End SLider Wide Image ***********************************

/*************** 8 Cols Slider **********************/
.windowContainer {
	height:296px;
	width: 620px;
	overflow: hidden;
	position: relative;
}
.windowReel {
	position: absolute;
	top:0;
	left:0;
}
.windowReel li {
	float:left;
	width:620px;
	display:block;
}
.summaryNewsHolder {
	width:620px;
}
.summaryNewsContainerWide {
	z-index:100;
	background:#ffffff;
	margin:3px;
	bottom:3px;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
	width:620px;
}
.summaryNewsAlignment {
	padding:5px 10px;
}
.windowContainerWide {
	height:350px;
	width: 620px;
	overflow: hidden;
	position: relative;
}
.windowContainerWide2 {
	height:258px;
	width: 940px;
	overflow: hidden;
	position: relative;
}
.windowReel2 li {
	float:left;
	width:940px;
	display:block;
}
/*******************End 8 Cols Slider *****************************/
.col9SectionSlider,.col9SectionSlider li{
	width:700px !important;
	height:291px !important;
}