.footerContainer{
	padding:0 15px 20px 0;
	font-size:1em;
	min-height:10px;
}
.footerLinksCont{
	width:135px;
	float:right;
	margin:0 0 0 15px;
}
a.footerFirstLevel{
	padding:0 10px 0 0;
	display:inline-block;
	margin:15px 0 7px 0;
}
a.footerSecondLevel{
	display:inline-block;
	margin-bottom:2px;
}
.latestUpdateCont{
	padding-top:15px;
}