.titlesContainerOpt2{
	padding:5px 10px 7px 10px;
}
.titlesContainerOpt2 h2{
	margin-bottom:0px;
}
.bulletListingOpt2 li{
	padding:10px 13px 10px 15px;
}
.bulletListingOpt2 li a{
	display:block;
	padding:0 15px 0 0;
}