.toplinksCont{
	padding:5px 10px;
}
.todayDate,.membersLinks{
	font-size:1em;
	float:right;
	margin-left:40px;
}
.languageLinks{
	float:right;
	font-size:0.9em;
}
.searchFieldCont,.searchCont,.searchContOption2{
	float:left;
}
.searchContOption2 .membersLinks{
	margin-left:0px;
	float:left;
	text-align:left;
}
.searchCont{
	width:340px;
}
.searchTextfield{
	border:1px solid #D4D3D1;
	padding:2px 7px 2px 0px;
	width:145px;
}
.searchBtn{
	width:22px;
	height:20px;
	display:block;
	font-size:1px;
}
.logosHeader{
	padding:9px;
}
.logosHeaderOpt2,.logosHeaderOpt3{
	padding:10px;
}
.mainLogoContainer{
	float:right;
}
.specialLogosContainer{
	float:left;
}
.lebanonFlagContainer,.logoContainer{
	float:left;
}
.lebanonFlagContainer{
	padding:7px 0 0 15px;
}
.logoContainer{
	padding:0px;
}
.lebanonFlagOpt2{
	float:right;
	width:96px;
}
.logoContainerOpt2,.logoContainerOpt3{
	width:69px;
	float:left;
}
.mainLogoContainerOpt2,.mainLogoContainerOpt3{
	text-align:center;
	float:right;
	width:777px;
	padding-top:7px;
}
.mainLogoContainerOpt3{
	width:873px;
}
.otherSitesSelectContainer{
	float:left;
}
.floatLeft{
	float:right;
}
.topHeaderCenter{
	padding:7px 0;
}