.mailingFloatText{
	padding-left:10px;
}
.mailingFieldContainer{
	float:left;
	width:300px;
	text-align:left;
}
.mailingTextField{
	border:1px solid #B9B9B9;
	padding:6px 7px 6px 0;
	width:160px;
}
.fieldFloatLeft{
	float:right;
	margin-left:3px;
}
.margtop15{
	margin-top:15px;
}