.menuBtnsList li{
	float:right;
	font-size:1.2em;
}
.menuBtnsList li a{
	display:inline-block;
	padding:12px 25px 11px 25px;
}
.absoluteSubMenu{
	position:absolute;
	top:0px;
	right:0px;
	width:405px;
	visibility:hidden;
	z-index:1000;
}
.subMenuContainer{
	padding:0 15px 15px 15px;
}
.subMenuContainer li{
	float:none !important;
}
.subMenuContainer a{
	text-decoration:none;
	display:block !important;
	font-size:0.75em !important;
	border-right:0px !important;
	font-weight:normal !important;
	padding:0 12px 7px 0 !important;
}
.subMenuContainer a:hover{
	text-decoration:underline;
}
.subMenuSection,.subMenuSectionLast{
	float:right;
	margin-left:15px;
	width:180px;
}
.subMenuSectionLast{
	margin-left:0px;
}
a.mainTitle{
	padding:10px 12px 7px 0 !important;
	margin-bottom:7px;
}
.highZindex{
	z-index:1000;
}
.menuContainerOption2{
	padding:10px 10px 0 10px;
}
/********************* Header Related Styles ************************************/
.toplinksCont{
	padding:5px 0px;
}
.todayDate,.membersLinks{
	font-size:1em;
	float:right;
	margin-left:40px;
}
.languageLinks{
	float:right;
	font-size:0.9em;
}
.searchFieldCont,.searchCont,.searchContOption2{
	float:left;
}
.searchContOption2 .membersLinks{
	margin-left:0px;
}
.searchCont{
	width:340px;
}
.searchTextfield{
	border:1px solid #D4D3D1;
	padding:2px 7px 2px 0px;
	width:145px;
}
.searchBtn{
	width:22px;
	height:20px;
	display:block;
	font-size:1px;
}
.logosHeader{
	padding:9px;
}
.logosHeaderOpt2,.logosHeaderOpt3{
	padding:10px;
}
.mainLogoContainer{
	float:right;
}
.specialLogosContainer{
	float:left;
}
.lebanonFlagContainer,.logoContainer{
	float:left;
}
.lebanonFlagContainer{
	padding:7px 0 0 15px;
}
.logoContainer{
	padding:0px;
}
.lebanonFlagOpt2{
	float:right;
	width:96px;
}
.logoContainerOpt2,.logoContainerOpt3{
	width:69px;
	float:left;
}
.mainLogoContainerOpt2,.mainLogoContainerOpt3{
	text-align:center;
	float:right;
	width:777px;
	padding-top:7px;
}
.mainLogoContainerOpt3{
	width:873px;
}
/********************* Header Related Styles ************************************/
a.eserviciesLink{
	padding:5px 0 0 0 !important;
	margin:0px !important;
	border-right:0px !important;
}
a.eserviciesLink:hover{
	background:none !important;
}